:root {
    background-color: #222D5A;
    /*background: linear-gradient(
        53deg,
        #ccfffc,
        #ffcccf
      );*/
    color: black;
    font-family: sans-serif;
    text-align: center;
    --border-line: solid;
    --skin-color: #808080;
    --belly-color: #ffffff;
    --beak-color: #ffa500;
    --blush-color: #ffc0cb;
}



/*Penguin div's position is set to relative, in order to move the different parts of the penguin's body relatively to the penguin div*/
.penguin {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    /*display: block;*/
}


.penguin-top {
    top: 15%;
    left: 28%;
    right: 28%;
    /*width: 156px;*/
    height: 128px;
    background-color: var(--skin-color);
    border-radius: 70% 70% 60% 60%;

}

.penguin-bottom {
    top: 40%;
    left: 25%;
    right: 25%;
    /*width: 165px;*/
    height: 128px;   
    background-color: var(--skin-color);
    border-radius: 70% 70% 100% 100%;

}

.left-hand  {
    top: 47%;
    left: 19%;
    width: 50px;
    height: 60px;
    transform: rotate(45deg);
    background-color: var(--skin-color);
    border-radius: 30% 30% 80% 30%;
}


.right-hand{
    top: 47%;
    right: 19%;
    width: 60px;
    height: 60px;
    transform: rotate(-45deg);
    background-color: var(--skin-color);
    border-radius: 30% 30% 30% 80%;

}

.left-foot {
    width: 30px;
    height: 35px;
    top: 77%;
    left: 35%;
    transform: rotate(80deg);
    background-color: var(--beak-color);
    border-radius: 50%;

}

.right-foot {
    width: 30px;
    height: 35px;
    top: 77%;
    right: 35%;
    transform: rotate(-70deg);
    background-color: var(--beak-color);
    border-radius: 50%;

}

.left-face {
    top: 20%;
    left: 32%;
    right: 42%;
    /*width: 156px;*/
    height: 100px;
    background-color: var(--belly-color);
    border-radius: 70% 70% 60% 60%;

}

.right-face {
    top: 20%;
    left: 42%;
    right: 32%;
    /*width: 156px;*/
    height: 100px;
    background-color: var(--belly-color);
    border-radius: 70% 70% 60% 60%;
}

.belly {
    top: 34%;
    left: 29.5%;
    right: 29.5%;
    /*width: 156px;*/
    height: 141px;
    background-color: var(--belly-color);
    border-radius: 120% 120% 100% 100%;
}

.left-eye {
    top: 28%;
    left: 40%;
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;

}
.right-eye {
    top: 28%;
    right: 40%;
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
}
.left-blush {
    top: 36%;
    left: 34%;
    width: 19px;
    height: 13px;
    background-color: var(--blush-color);
    border-radius: 50%;

}
.right-blush {
    top: 36%;
    right: 34%;
    width: 19px;
    height: 13px;
    background-color: var(--blush-color);
    border-radius: 50%;

}
.top-beak {
    top: 36%;
    right: 46%;
    width: 22px;
    height: 13px;
    background-color: var(--beak-color);
    border-radius: 50%;

}
.bottom-beak {
    top: 34%;
    right: 45%;
    width: 27px;
    height: 13px;
    background-color: var(--beak-color);
    border-radius: 50%;

}
.sparkle {
    top: 32%;
    right: 42%;
    width: 5px;
    height: 5px;
    background-color: white !important;
    border-radius: 50%;

}
/*We are selecting all penguin's child elements at once to set their position to absolute. */
.penguin * {
    position: absolute;
/*    border-style: var(--border-line);*/
}

.editor-panel {
    padding: 30px;
    margin-top: 20px;
    width: 400px;
    left: 30%;
}

h4{
    text-transform: uppercase;
    margin-block-start: 0.33em;
    font-size: 18px;

}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

.speech-bubble {
	position: relative;
	background: #f5f5f5;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 33px solid transparent;
	border-top-color: #f5f5f5;
	border-bottom: 0;
	border-left: 0;
	margin-left: -16.5px;
	margin-bottom: -33px;
}
